<app-book-new (create)='onCreate($event)'></app-book-new>

<section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let book of books' (click)='onSelect(book)'>
        <td> {{ book.id }}</td>
        <td> {{ book.title | titleize }}</td>
        <td> {{ book.author }}</td>
        <td> {{ book.year }}</td>
        <td> Future Actions </td>
      </tr>
    </tbody>
  </table>
</section>


<app-book-details [book]='selectedBook'></app-book-details>
